# OS-specific files
.DS_Store

# IDE: CLion / JetBrains
.idea/
cmake-build-*/
*.iml

# CMake build artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
build/
Testing/

# Compiled Object files
*.o
*.obj
*.lo
*.slo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Unit test logs / core dumps
core.*
*.log
